@import url(./common/reset.css);



/* 品牌故事 */
.about_story_wrapper{
    width: 100%;
}

.about_top{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
    min-width: 1200px;
}

.about_top_left{
    margin-left: 60px;
    padding-right: 20px;
}



.about_top_left h1{
    color: rgba(131, 160, 177, 1);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;

}

.about_top_left h2{
    font-size: 1.2rem;
    color: rgba(131, 160, 177, 1);
    line-height: 1.6;
    font-weight: 600;
}

.about_top_left p{
    line-height: 1.2;
    font-weight: 600;
}

.about_top_right img{
    padding-left: 70px;
    display: block;
    width: 470px;
}

/* 中間icon */
.center_icon_wrapper{
    width: 100%;
}

.center_icon{
    background-image: url(../images/about/icon-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
    height: 390px;
    min-width: 1200px;
    display: flex;
    justify-content: center;
}

.center_icon ul{
    display: flex;
    min-width: 980px;
    align-items: center;
    justify-content: space-between;
}

.center_icon ul li{
    text-align: center;
    line-height: 1.2;
}

.center_icon img{  
    width: 50px;
}

.center_icon li h1{
    color: rgba(34, 88, 118, 1);
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 8px;
}

.center_icon li p{
    font-size: 1.2rem;
}

/* box */
.about_box_wrapper{
    width: 100%;
}

.about_title{
    text-align: center;
    width: 100%;
    min-width: 1200px;
    margin-bottom: 60px;
    line-height: 1.6;
    font-weight: 600;
    color: rgb(131, 160, 177);
}

.about_title h1{
    font-size: 2.5rem;
}

.about_title p{
    font-size: 1.2rem;
}

.about_box{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
    min-height: 650px;
    margin-bottom: 150px;
    
}

.about_box ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px; 
}

.about_box li{
    display: flex;
    text-align: center;
    width: 300px;
    height: 300px;
    position: relative;
    margin-bottom: 40px;
}

.about_box li img{
    border-radius: 10px;
}

.about_box_text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:   rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 28%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: .8s;
}

.about_box_text h1{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8;
    transition: .8s;
}

.about_box_text p{
    position: absolute;
    top: 85px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.2;
    transition: .8s;
}


/* box hover */
.about_box li:hover .about_box_text{
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: .8s;
}

.about_box li:hover .about_box_text h1{
    transition: .8s;
    top: 105px;
}

.about_box li:hover .about_box_text p{
    transition: .8s;
    top:155px;
}

@media screen and (max-width:428px){
    .about_story_wrapper{
        min-width: auto;
        position: relative;
        top: 45px;
        width: 100%;
        margin-bottom: 85px;
    }

    .about_top{
        flex-direction: column;
        align-items: flex-start;
        margin: 60px auto; 
        width: 90%;
        min-width: auto;
        
    }

    .about_top_left{
        padding: 0;
        margin: 0;
    }

    .about_top_right img{
        width: 90%;
        padding: 0;
        padding-top: 25px;
    }

    .center_icon_wrapper{
        min-width: auto;
    }

    .center_icon{
        height: initial;
        min-width: auto;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-bottom: 50px;
    }

    .center_icon ul{
        min-width: auto;
        flex-direction: column;
        width: 90%;
        padding-top: 26px;
        justify-content: center;
    }

    .center_icon ul li{
        border: 2px solid #83A0B1;
        border-radius: 5%;
        margin-bottom: 20px;
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
    }

    .center_icon img{
        width: 25%;
    }

    .about_box_wrapper{
        min-width: auto;
    }

    .about_title{
        min-width: auto;
        margin-bottom: 30px;
    }

    .about_box{
        min-width: auto;
        margin-bottom: 0;
    }

    .about_box ul{
        min-width: auto;
        width: 90%;
    }

    .about_box li{
        width: 100%;
        height: auto;
    }

    .about_box_text{
        height: 22%;
    }

    .about_box li img{
        width: 100%;
    }

    .about_footer{
        top: 12px;
    }

}