@import url(./common/reset.css);

/* -----------banner------------ */
html,body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.index_Swiper {
    width: 100%;
    min-width: 1200px;
}

.swiper_wrapper{
    width: 100%;
    min-width: 1200px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; */
}

.swiper-slide img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner_slide{
    width: 100%;
    min-width: 1200px;
}

.arrow_right{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 10px;
    height: 25px;
    font-size: 2.5rem;
    z-index: 10;
    color: #225876;
    opacity: .7;
}

.arrow_left{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 10px;
    height: 25px;
    font-size: 2.5rem;
    z-index: 10;
    color: #225876;
    opacity: .7;
}

.arrow_right:hover{
    opacity: 1;
}

.arrow_left:hover{
    opacity: 1;
}

/* -----------slide menu------------ */
/* smenu_title */
.manu1{
    min-width: 1200px;
    display: grid;
    justify-content: center;
}

.smenu_leftbg{
    position: absolute;
    width: 50%;
    height: 739px;
    background-image: url(../images/index/smenu_bg.png);
    background-repeat: no-repeat;
    left: 13px;
}

.index_smenu_title{
    width: 100%;
    min-width: 1200px;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgb(131, 160, 177);
}

.index_smenu_title h1{
    font-size: 2.1rem;
    padding-bottom: 5px;
}

.index_smenu_title p{
    font-size: 1.2rem;
    font-weight: 600;
}

.index_smenu_title span:first-child::after{
    content: "[";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.index_smenu_title span:last-child::before{
    content: "]";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

/* swiper_slide_menu */
.index_smenu{
    width: 959px;
    overflow: hidden;
    margin: 0 auto;
    height: 434px;
}

.mysmenu{
    width: 100%;
    height: 350px;
    padding-top: 30px;
  
    /* width: 50%;
    min-width: 1200px;
    height: 50%;
    padding-top: 30px; */
}

.smenu {
  text-align: center;
  font-size: 18px;
  width: 300px;
  height: 280px;  
  padding: 10px;  
}

.smenu img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.smenu p{
    background-color: none;
    line-height: 35px;
    font-weight: bold;
    color: #225876;
    
}

.smenu_pagination{

    
}

/* menu link */
.menu_links {
    width: 0;
}

.menu_links p{
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    width: 150px;

    border: 2px solid #225876;
    text-decoration: none;
    color: #225876;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    z-index: 15;
    transition: .8s;
}

.menu_links a i{
    padding-left: 20px;
}

/* menu hover */
.menu_links:hover p{
    background-color: #225876;
    color: #fff;
}

.menu_links:hover p{
    color: #fff;
}

/* -----------hover menu------------ */
.index_hmemu{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 1200px;
    height: 750px;
    margin-top: 100px;
}

.index_hmemu ul{
    height: 600px;
    width: 97%;
    display: flex;
    justify-content: center;
}

.index_hmemu li{
    display: flex;
    position: relative;
    width: 400px;
    padding: .5px;
    transition: 1s;
    filter: brightness(80%)
} 

.index_hmemu_img{
    width: 100%;
    height: 100%;
}

.index_hmemu_content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-shadow: 1px 1px 5px #000;

}

.hmemu_text h1{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.8;
}

.hmemu_text p{
   display: none;
   font-weight: 600;
}

.item1,.item2,.item3,.item4,.item5{
    object-fit: cover;
    object-position: 40% 50%;
}


/* title */
.index_hmenu_title{
    text-align: center;
    width: 100%;
    min-width: 1200px;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgb(131, 160, 177);
}

.index_hmenu_title h1{
    font-size: 2.1rem;
    padding-bottom: 5px;
}

.index_hmenu_title p{
    font-size: 1.2rem;
    font-weight: 600;
}

.index_hmenu_title span:first-child::after{
    content: "[";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.index_hmenu_title span:last-child::before{
    content: "]";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
} 

/* hover */
.index_hmemu li:hover {
    width:1200px;
    transition: .8s;
    filter: brightness(100%)
}

.index_hmemu li:hover .index_hmemu_content{
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
    box-sizing: border-box;
    height: 100%;
    padding: 50px;
}

.index_hmemu li:hover .hmemu_text{
    margin: 10px;
}

.index_hmemu li:hover .hmemu_text p{
    display: block;
    line-height: 1.2;
}
 


/* ---------Hmenu Rwd用------------ */

/* title */
.Rhmenu_title_wrapper{
    text-align: center;
    width: 100%;
    min-width: 1200px;
    margin-bottom: 30px;
    font-weight: 600;
    color: rgb(131, 160, 177);
    display: none;
}

.Rhmenu_title_wrapper h1{
    font-size: 2.1rem;
    padding-bottom: 5px;
}

.Rhmenu_title_wrapper p{
    font-size: 1.2rem;
    font-weight: 600;
}

.Rhmenu_title_wrapper span:first-child::after{
    content: "[";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.Rhmenu_title_wrapper span:last-child::before{
    content: "]";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
} 

/* swiper_slide_menu */
.Rindex_hmeny{
    width: 1200px;
    overflow-x: hidden;
    margin: 0 auto;
    height: 634px;
    display: none;
}

.Rmyhmenu{
    width: 100%;
    /* height: 350px; */
    padding-top: 30px;
}

/* hmenu slide_rwd用 */
.Rhmenu {
  position: relative;  
  text-align: center;
  font-size: 18px;
  width: 350px;
  height: 580px;  
  padding: 10px;  
}

.Rhmemu_content{
    top: 0;
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
}

.Rhmemu_content img{
    width: 80px;
}

/* -----------slide news------------ */
/* news title */
.index_news_title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    color: rgb(131, 160, 177);
    width: 100%;
    min-width: 1200px;
}

.index_news_title h1{
    font-size: 2.1rem;
    padding-bottom: 5px;
}

.index_news_title  p{
    font-size: 1.2rem;
    font-weight: 600;
} 


/* swiper news*/
.news1{

}

.index_mynews{
    width: 100%;
    height: 410px;
    overflow: hidden;
    margin: 0 auto;
    min-width: 1200px;
}

.mynews{
    width: 100%;
    height: 402px;
    padding-top: 10px;
    box-sizing: border-box; 
}

.news_slids_wrapper{
    
}

.news_slids{
    text-align: center;
    font-size: 18px;
    width: 79%;
    height: 280px;
    display: flex;
    margin-left: 75px;
    min-width: 1200px;
} 

/* news content */
.news_box{
    display: flex;
    padding: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #2F528F;
    transition: .8s;
    margin-left: 24px;
    margin-right: 42px;
}

.news_box img{
    display: block;
    width: 258px;
}

.news_box_text{
    padding-left: 50px;
    text-align: left;
    transition: .8s;
}

.news_box_text h1{
    color: #215774;
    font-weight: bold;
    padding-bottom: 20px;
}

.news_box_text h2{
    color: #215774;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.news_box_text p{
    font-weight: bold;
    line-height: 1.1;
}

.news_box_text a{
    text-decoration: none;
}

.news_box_text p:last-child{
    padding-top: 60px;
    color: #215774;
}

.news_box_text p:last-child i{
    padding-left: 20px;
}

.min_box{
    position: absolute;
    top: -1px;
    left: -30px;
    width: 65px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #215774;
    border: 1px solid #2F528F;
    background-color: #ffffff;
    transition: .8s;
}

.min_box h1{
    padding-top: 10px;
}

.newsbtn_pagination{
    padding-bottom: 42px;
}

.new_links p{
    position: absolute;
    left: 0;
    right: 0;

    bottom: 0;
    margin: auto;
    padding: 10px;
    width: 150px;
    height: 20px;
    border: 2px solid #225876;
    text-decoration: none;
    color: #225876;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    transition: .8s;
}

.new_links a i{
    padding-left: 20px;
}  

/* news arrow */
.arrow_right_news{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 22%;
    width: 9%;
    font-size: 2.2rem;
    z-index: 10;
    color: #225876;
    opacity: .7;
}

.arrow_left_news{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 22%;
    width: 12%;
    font-size: 2.2rem;
    z-index: 10;
    color: #225876;
    opacity: .7;
}  

/* news content hover */
.news_box:hover{
    background-color: #8eafc2;
    transition: .8s;
}

.news_box:hover .min_box{
    background-color: #8eafc2;
    color: #f4f4f4;
    transition: .8s;
}

.news_box:hover .news_box_text p:last-child{
    color: #f4f4f4;
    transition: .8s;
}

.arrow_left_news:hover,.arrow_right_news:hover{
    opacity: 1;
}

.new_links:hover p{
    background-color: #225876;
    color: rgb(255, 255, 255);
    transition: .8s;
    outline: #215774;
} 


/* -----------rwd slide news------------ */
/* news title */
.index_news_title{
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
    color: rgb(131, 160, 177);
    width: 100%;
    min-width: 1200px;
}

.index_news_title h1{
    font-size: 2.1rem;
    padding-bottom: 5px;
}

.index_news_title  p{
    font-size: 1.2rem;
    font-weight: 600;
}

.index_news_title span:first-child::after{
    content: "[";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.index_news_title span:last-child::before{
    content: "]";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
} 


/* RWD swiper news*/
.Rindex_mynews{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    display: none;
}

.Rmynews{
    width: 700px;
    margin-top: 25px;
    min-width: auto;
}

.Rnews_slids_wrapper{
    
}

/* news content */
.Rnews_slids{
    display: flex;
    padding: 15px;
    position: relative;
    border: 1px solid #2F528F;
    transition: .8s;
    margin-left: 54px;

}

.Rnews_slids img{
    display: block;
    width: 260px;
}

.Rnews_box_text{
    padding-left: 50px;
    margin-top: 3px;
    text-align: left;
    transition: .8s;
}

.Rnews_box_text h1{
    color: #215774;
    font-weight: bold;
    padding-bottom: 20px;
}

.Rnews_box_text h2{
    color: #215774;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.Rnews_box_text p{
    font-weight: bold;
    line-height: 1.1;
}

.Rnews_box_text a{
    text-decoration: none;
}

.Rnews_box_text p:last-child{
    padding-top: 60px;
    color: #215774;
}

.Rnews_box_text p:last-child i{
    padding-left: 20px;
}

.Rmin_box{
    position: absolute;
    top: -1px;
    left: -30px;
    width: 65px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #215774;
    border: 1px solid #2F528F;
    background-color: #ffffff;
    transition: .8s;
}

.Rmin_box h1{
    padding-top: 10px;
}

.Rnew_links p{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px;
    width: 150px;
    height: 20px;
    border: 2px solid #225876;
    text-decoration: none;
    color: #225876;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    transition: .8s;
}

.Rnew_links a i{
    padding-left: 20px;
} 

/* news content hover */
.Rnews_slids:hover{
    background-color: #8eafc2;
    transition: .8s;
}

.Rnews_slids:hover .Rmin_box{
    background-color: #8eafc2;
    color: #f4f4f4;
    transition: .8s;
}

.Rnews_slids:hover .Rnews_box_text p:last-child{
    color: #f4f4f4;
    transition: .8s;
}

.Rnew_links:hover p{
    background-color: #225876;
    color: rgb(255, 255, 255);
    transition: .8s;
    outline: #215774;
}




/* -----------store------------ */
.store_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 1200px;
}

/* store上方導覽列 */
.index_store_title{
    text-align: center;
    margin: 40px 0 10px 0;
    font-weight: 600;
    color: rgb(131, 160, 177);
    width: 100%;
    min-width: 1200px;
}

.index_store_title h1{
    font-size: 2.1rem;
    padding-bottom: 5px;
}

.index_store_title  p{
    font-size: 1.2rem;
    font-weight: 600;
}

.index_store_title  span:first-child::after{
    content: "[";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

.index_store_title  span:last-child::before{
    content: "]";
    padding-right: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 500;
}

/* store content */
.store_wrapper{
    width: 100%;
}

.store_content{
    display: flex;
    flex-direction: column;
    width: 85%;
    min-width: 1200px;
    margin-top: 20px;
}

.store_text_wrapper{
    display: flex;
    flex-direction: column;
    width: 85%;
    min-width: 1200px;
    height: 600px;
    overflow: auto;
    overflow-x:hidden ;
    margin-bottom: 60px;
}


.store_text_wrapper::-webkit-scrollbar{
    width: 5px;
}

.store_text_wrapper::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
}

.store_text_wrapper::-webkit-scrollbar-thumb{
    background: #225876; 
    border-radius: 5px;
}

.store_text_wrapper::-webkit-scrollbar-thumb:hover{
    background: #2e78a0;
}

.store_text_nav{
    background-color: #eeeeee;
    position: sticky;
    
}

.store_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
    width: 100%;
    min-width: 1200px;
    background-color: #f1f1f1;

}

.store_text_nav:first-child{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 30px;
    border-top: 3px solid #225876;
    border-bottom: 2px solid #83A0B1;
    width: 100%;
    min-width: 1200px;
}

.store_left{
    display: flex;
    padding: 10px;
    min-width: 950px;
    
}

.store_left h1{
    width: 210px;
    font-size: 1.1rem;
    padding-left: 8px;

}

.store_left h2{
    width: 22%;
    font-size: 1.3rem;
    color: #83A0B1;
    
}

.store_left p{
    width: 240px;
    font-size: 1rem;
    padding-left: 8px;
    
}

.store_left p:nth-child(2){
    width: 23%;
    box-sizing: border-box;
    padding-right: 20px;


}

.fstore_right{
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
    width: 170px;
}

.store_right{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 30px;
    width: 7%;
   
}

.store_right a i{
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1.3rem;
    color: #83A0B1;
    border: 2px solid #83A0B1;
    border-radius: 50%;
    padding: 3px;
    transition: .8s;
}

.store_right img{
    display: block;
}

.store_links{
    padding: 10px;
    margin: auto;
    margin-bottom: 40px;
    width: 150px;
    height: 20px;
    border: 2px solid #225876;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    transition: .8s;
}

.store_links a{
    text-decoration: none;
    color: #215774;
}

.store_links a i{
    padding-left: 20px;
}

/* store hover */
.store_right a:hover i{
    background-color: #225876;
    color: #fff;
    transition: .8s;
}

.store_links:hover{
    background-color: #225876;
    color: #fff;
}

.store_links:hover p{
    color: #fff;
}


@media screen and (max-width:428px){
    .index_Swiper{
        min-width: auto;
        position: relative;
        top: 90px;
    }

    .swiper-wrapper{
        min-width: auto;
    }

    .banner_slide img{
        width: 90%;
        min-width: auto;
        margin: 0 auto;
    }

    .banner_slide{
        min-width: auto;
    }

    .arrow_right{
        font-size: 1.3rem;
        right: 17px;
    }

    .arrow_left{
        font-size: 1.3rem;
        left: 18px;
    }

   

    .index_smenu_title{
        min-width: auto;
        position: relative;
        top: 55px;
    }

    .index_smenu_title h1{
        font-size: 1.5rem;

    }

    .index_smenu_title p{
        font-size: 1.1rem;
    }

    .manu1{
        min-width: auto;
    }

    .index_smenu{
        min-width: auto;
        padding-top: 30px;
        width: 90%;
    }

    .mysmenu{
        min-width: auto;   
        padding-top: 15px;
    }

    .smenu_wrapper{
        min-width: auto;
    }

    .smenu{
        min-width: auto;
        width: 100%;
    }

    .smenu img{
        width: 100%;
    }

    .menu_links{
        min-width: auto;
        right: 100px;
    }

    .smenu_leftbg{
        display: none;
    }

    /* hmenu_slide rwd */
    .index_hmemu{
        display: none;    
    }

    .index_hmenu_title{
        display: none;
    }

    .Rhmenu_title_wrapper{
        min-width: auto;
        display: block;
    }

    .Rhmenu_title{
        min-width: auto;
        padding-top: 40px;
    }

    .Rhmenu_title_wrapper  h1{
        font-size: 1.5rem;

    }

    .Rhmenu_title_wrapper p{
        font-size: 1.1rem;
    }

    .Rindex_hmeny{
        min-width: auto;
        width: 100%;
        height: 465px;
        overflow-x: hidden;
        display: block;
    }

    .Rmyhmenu{
        min-width: auto;
        width: 100%;
        padding-top: 0px;
    }

    .Rhmenu{
        /* height: 453px; */
        min-width: auto;
        width: 86%;
        padding: 2px;
        height: 400px;
    }

    .Rhmemu_img {
        width: 200px;
    }

    .Rhmemu_content{
        bottom: 40px;
        top: initial;
        /* padding-bottom: 40px; */
    }

    .Rhmemu_text{
        font-size: 1rem;
        height: 150px;
    }

    .Rhmemu_text h1{
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .Rhmemu_text p{
        text-align: left;
        padding-left: 10px;
        font-weight: 600;
        line-height: 20px;

    }

    .Rhmemu_content img{
        margin: 0 auto;
    }

    .index_news_title{
        min-width: auto;
        margin-bottom: 30px;
    }

    .index_news_title h1{
        font-size: 1.5rem;
    }

    .index_news_title p{
        font-size: 1.1rem;
    }

    .news1{
        display: none;
    }

    .Rindex_mynews{
        min-width: auto;
        position: relative;
        height: 700px;
        display: block;
    }
    
    .Rmynews{
        min-width: auto;
        margin-top: 0;
        width: 75%;
        margin: 0 auto;
    }

    .Rnews_slids{
        min-width: auto;
        flex-direction: column;
        width: 85%;
    }

    .Rnews_slids img{
        width: auto;
    }

    .Rnews_box_text{
        padding: 0;
        padding-top: 10px;
        height: 280px;
    }

    .newsbtn_pagination{
        padding-bottom: 0;
        margin-top: 20px;
        position: relative;
    }
    
    .Rnew_links p{
        bottom: -40px;
    }

    .store_wrapper{
        min-width: auto;
    }

    .index_store_title{
        min-width: auto;
    }
    
    .index_store_title h1{
        font-size: 1.5rem;
    }

    .index_store_title p{
        font-size: 1.1rem;
    }

    .store_content{
        min-width: auto;
        width: 90%;
    }

    .store_text{
        min-width: auto;
        justify-content: space-between;
        background-color: initial;
    }

    .store_text_nav:first-child{
        min-width: auto;
    }

    .store_left h1:nth-child(2n+1){
        display: none;
    }

    .store_left{
        min-width: auto;
        width: 180px;
        height: 63px;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        padding-left: 10px;
    }

    .fstore_right{
        display: none;
        /* width: 84px;
        padding-right: 37px;
        justify-content: space-between; */
    }

    .store_right{
        width: 90px;
        margin-right: 20px;
        justify-content: space-between;
    }

    .store_text_wrapper{
        min-width: auto;
        width: 90%;
        margin-bottom: 35px;
    }

    .store_left p:nth-child(2){
        display: none;
    }

    .store_left h2{
        width: 150px;
    }

    .store_left p{
        padding-left: 0;
        font-size: .8rem;
    }

    .about_footer{
        top: 15px;
    }
    

}