@import url(./common/reset.css);

.join_box{
    width: 100%;
    min-width: 1200px;
}

.content_wrapper{
    width: 100%;
    min-width: 1200px;
}

/* img_right */
.join_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
    min-width: 1200px;
}

.text_left{
    margin-left: 60px;
    padding-right: 20px;
    width: 300px;
}

.text_left_three{
    width: 418px;
}

.text_left h1{
    color: rgba(131, 160, 177, 1);
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.2;

}

.text_left h2{
    font-size: 1.2rem;
    color: rgba(131, 160, 177, 1);
    line-height: 1.2;
    font-weight: 600;
}

.text_left p{
    line-height: 2;
    font-weight: 600;
}

.img_right img{
    padding-left: 70px;
}

/* img_left */
.text_right{
    margin-left: 60px;
}

.text_right h1{
    color: rgba(131, 160, 177, 1);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;

}

.text_right h2{
    font-size: 1.2rem;
    color: rgba(131, 160, 177, 1);
    line-height: 1.2;
    font-weight: 600;
}

.text_right p{
    line-height: 1.6;
    font-weight: 600;
}

.img_left img{
    padding-right: 30px;
}

/* both img */
.join_content_both{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
    min-width: 1200px;

}

.text_center{
    box-sizing: border-box;
    text-align: left;
    min-width:auto;
    width: 384px;
}

.text_center h1{
    color: rgba(131, 160, 177, 1);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
}

.text_center h2{
    font-size: 1.2rem;
    color: rgba(131, 160, 177, 1);
    line-height: 1.2;
    font-weight: 600;
}

.text_center p{
    line-height: 1.6;
    font-weight: 600;
}

.img_left_both{

}

.img_right_both{

}

.img_left_both img{
   
}

/* box */
.join_box{
    margin-bottom: 150px;
    margin-top: 140px;
    width: 100%;
    min-width: 1200px;
}

.join_box_title{
    text-align: center;
    margin-bottom: 60px;
    line-height: 1.6;
    font-weight: 600;
    color: rgb(131, 160, 177);
    width: 100%;
    min-width: 1200px;
}

.join_box_title h1{
    font-size: 2.5rem;
}

.join_box_title p{
    font-size: 1.2rem;
}

.join_box ul{
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 1200px;
}

.join_box li{
    display: flex;
    text-align: center;
    width: 300px;
    height: 300px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 30px;
}

.join_box li img{
    background-color: #E6E4E4;
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.join_box_text{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 28%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: .8s;
}

.join_box_text h1{
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.8;
    transition: .8s ;
}

.join_box_text p{
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
    transition: .8s ;
}

/* box hover */
.join_box li:hover .join_box_text{
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: .8s ;
}

.join_box li:hover .join_box_text h1{
    top: 95px;
    transition: .8s;
}

.join_box li:hover .join_box_text p{
    top: 145px;
    transition: .8s;
}

.join_box_text h1:hover{
    color: #a4d3f9;
}

/* btn */
.join_btn{
    text-align: center; 
}

.join_btn a{
    text-decoration: none;
    padding: 10px 15px;
    margin: 20px;
    font-weight: 600;
    background-color: white; 
    border-radius: 5px;
    border: 2px solid rgb(131, 160, 177);
    color: black;
}

.join_btn a:hover {
    background-color: rgba(131, 160, 177, 1);
    transition: ease-in .4s;
    color: white;
  }



@media screen and (max-width:428px){
    .content_wrapper{
        min-width: auto;
    }

    .join_content{
        min-width: auto;
        position: relative;
        top: 110px;
        margin: 0 auto;
        width: 90%;
    }

    .onearea{
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .text_left{
        margin: 0;
        padding: 0;
        min-width: auto;
        width: 90%;
    }

    .text_left h1{
        font-size: 2rem;
    }

    .text_left p{
        
        font-size: 1rem;
    }

    .img_right{
        min-width: auto;
        margin-bottom: 30px;
        width: 90%;
    }

    .text_right h1{
        font-size: 2rem;
    }

    .text_right p{
        line-height: initial;
    }

    .img_right img{
        padding: 0;
        width: 90%;
        min-width: auto;
        margin-top: 0;
    }

    .twoarea{
        flex-direction: column;
        margin-top: 30px;
    }

    .img_left {
        min-width: auto;
        margin-bottom: 40px;
        width: 90%;

    }

    .img_left img{
        padding: 0;
        width: 90%;
        min-width: auto;
        margin-top: 35px;
    }

    .text_right {
        margin: 0;
        padding: 0;
        min-width: auto;
        width: 90%;
    }

    .threearea{
        flex-direction: column-reverse;
        margin-top: 45px;
    }

    .join_content_both{
        min-width: auto;
        position: relative;
        top: 110px;
        margin: 0 auto;
        width: 90%;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .img_left_both{
        min-width: auto;
        margin-bottom: 40px;
        width: 90%;
    }

    .img_left_both img{
        padding: 0;
        width: 90%;
        min-width: auto;
        margin-top: 20px;
    }

    .text_center{
        margin: 0;
        padding: 0;
        min-width: auto;
        width: 90%;
    }

    .text_center h1{
        font-size: 2rem;
    }

    .img_right_both{
        margin: 0;
        padding: 0;
        min-width: auto;
        width: 90%;
       
    }

    .img_right_both img{
        padding: 0;
        width: 90%;
        min-width: auto;
        margin-top: 40px;
    }

    .join_box{
        min-width: auto;
        position: relative;
        top: 130px;
        margin-top: 20px;
    }

    .join_box_title{
        min-width: auto;
        margin-bottom: 0;
    }

    .join_box ul{
        min-width: auto;
        flex-direction: column;
        width: 90%;
        margin: 0 auto; 
        margin-bottom: 25px;
    }

    .join_box li{
        min-width: auto;
        margin: 10px auto; 
    }

    .about_footer{
        top: 80px;
    }
}
