@import url(./common/reset.css);

body{
    background-image: url(../images/chain/cb_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
/* -----------menu content------------- */
.menu_wrapper{
    margin: 0 auto;
    max-width: 1420px;
    width: 100%;
}

.menu_box_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    min-width: 1200px;
    width: 100%;
}

.column{
   padding: 10px;
   display: none;
}

.column p{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: #225876;
}

.columnimg{
    width:262px; 
    height:227px;
    overflow:hidden;
}

.columnimg img{
    transform:scale(1,1);
    transition: all .8s ease-out;
}

.columnimg img:hover{
    transform:scale(1.2,1.2);
}

.about_footer{
    margin-top: 100px;
}

.footer_btm{
    margin-bottom: 0;
}


/* The "show" class is added to the filtered elements */
.show {
    display: block;
    opacity: 0;
    animation: topleft 1s ease .2s forwards;
}

@keyframes topleft{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media screen and (max-width:428px){
    .menu_wrapper {
        min-width: auto;
        width: 100%;
    }

    .menu_box_wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
 
    }

    .menu_box_wrapper{
        position: relative;
        min-width: auto;
        width: 100%;
        top: 100px;
    } 

    .column{
        width: 100%;
        min-width: auto;
    }

    .columnimg{
        width: 94%;
        height: 90%;
        min-width: auto;
        margin: 0 auto;
        position: relative;
    
    }
    
    .columnimg img{
        width: 100%;
        display: block;
    }

    /* .columnimg img{
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%,-50%);
    } */
    
    
}
