@import url(./common/reset.css);

/* 下方box主要內容 */
.news_wrapper{
    display: flex;
    margin: 0 auto;
    max-width: 1420px;
    width: 100%;
}

.news_content_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    min-width: 1200px;
    width: 100%;
}

.news_content{
    margin: 10px 55px 10px 55px;
    padding: 15px;
    position: relative;
    border: 1px solid #2F528F;
    display: none;
    transition: .8s;
    min-width: 550px;
}

.news_content img{
    display: block;
    max-width: 230px;
    width: 100%;
}

.news_content_text{
    padding-left: 30px;
    width: 100%;

}

.news_content_text h1{
    color: #215774;
    font-weight: bold;
    padding-bottom: 20px;
}

.news_content_text h2{
    color: #215774;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 20px;
}

.news_content_text p{
    font-weight: bold;
    line-height: 1.1;
  
}

.news_content_text a{
    text-decoration: none;
    transition: .8s;
}

.news_content_text p:last-child{
    padding-top: 60px;
    color: #215774;
}

.news_content_text i{
    padding-left: 20px;
}

.min_box{
    position: absolute;
    top: -1px;
    left: -30px;
    width: 65px;
    height: 60px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #215774;
    border: 1px solid #2F528F;
    background-color: #ffffff;
    transition: .8s;

}

.min_box h1{
    padding-top: 10px;
}

/* hover */
.news_content:hover{
    background-color: #8eafc2;
    transition: .8s;
}

.news_content:hover .min_box{
    background-color: #8eafc2;
    color: #f4f4f4;
    transition: .8s;
}

.news_content:hover .news_content_text p:last-child{
    color: #f4f4f4;
    transition: .8s;
}

/* The "show" class is added to the filtered elements */
.show {
    display: flex;
    opacity: 0;
    animation: topleft 1s ease .2s forwards;
}

@keyframes topleft{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@media screen and (max-width:428px) {
    .news_wrapper{
        min-width: auto;
        position: relative;
        top: 115px;
    }

    .news_content_wrapper{
        min-width: auto;
        width: 100%;
    }
    
    .news_content{
        flex-direction: column;
        align-items: center;
        min-width: auto;
        margin: 0;
        padding: 18px;
        box-sizing: border-box;
        width: 90%;
        /* outline: 3px solid red; */
        margin-bottom: 35px;

    }
    
    .news_content img{
        max-width: initial;
        
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .news_content_text{
        padding: 0;
    }

}

