@import url(./common/reset.css);

html{
    font-size: 62.5%;

}

body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* header navbar */
.header_main{    
    width: 100%;
    min-width: 1200px;
    position: relative;
    display: flex;
}

.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    min-width: 1200px;
}

.nav_logo{
    display: block;
    max-width: 250px;
}

.nav_bar{
    display: flex;
    margin-right: 80px;

}

.nav_bar li a{
    padding-left: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: #000;
}

.nav_order{
    display: flex;
    flex-direction: row;
}

.nav_order span{
    color: #215774;
}

.nav_icons{
    display: flex;
}

.nav_icons i{
    padding-left: 15px;
    color: #83A0B1;
    font-size: 1.4rem;
}

/* nav hover */
.nav_bar li a:hover{
    color: #215774;
}

.nav_icons i:hover{
    color: #215774;
}

/* footer */
.about_footer{
    width: 100%;
    min-width: 1200px;
    border-top: 2px solid #83A0B1;
}

.footer_nav{

    width: 100%;
    min-width: 1200px;
}

.footer_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    min-width: 1200px;
}

.footer_nav_logo{
    display: block;
    max-width: 150px;
    margin-bottom: 30px;
}

.footer_boder{
    min-width: 600px;
    border-bottom: 1px solid #83A0B1;
    margin-bottom: 20px;
    margin-left: 40px;
}

.footer_connect{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
}

.footer_connect li{
    padding-left: 40px;
    font-size: .9rem;
    font-weight: bold;
}

.footer_connect li p{
    padding-bottom: 10px;
}

.footer_connect a{
    text-decoration: none;
    color: #000;
}

.footer_btm{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between; 
    width: 100%;
    min-width: 1200px;
}

.footer_btm p{
    font-size: 0.1rem;
    font-weight: bold;
    margin-left: 10px;
}

.footer_nav_bar{
    display: flex;
    margin-right: 5px;
    
}

.footer_nav_bar a{
    padding-right: 35px;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: #000;
}

.footer_nav_icons{
    display: flex;
    margin-right: 30px;
}

.footer_nav_icons i{
    padding-left: 20px;
    color: #83A0B1;
    font-size: 1.6rem;
}

/* hover */
.footer_nav_icons i:hover{
    color: #215774;
}

/* menu bar */
#menu_bar{
    display: none;
} 

/*-------------RWD---------------*/
/* navbar */
@media screen and (max-width:414px){
    .header_main{
        width: 100%;
        min-width: 414px;
    }

    .header_nav{
        width: 100%;
        min-width: 414px;
    }

    #menu_bar{
        display: initial;
        position: absolute;
        font-size: 3.2rem;
        right: 20px;
        top: 20px;
    }

    .header_nav{
        display: initial;
    }

    .nav_logo_a{
        display: block;
        width: 20px;
    }

    .nav_logo{
        width: 240px;
        padding-top: 15px;
        padding-left: 10px;
    }

    .nav_bar,.nav_icons{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 1s;
    }

    .nav_bar{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #83A0B1;
        border-top: 3px solid #215774;
        text-align: center;
        top: 80px;
        width: 100%;
        z-index: 10;
    }

    .nav_bar li{
        border-bottom: 2px solid #215774;
    }

    .nav_bar li a{
        text-align: left;
        font-size: 1.5rem;
        color: white;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-left: 15px;
        width: 100px;
    }

    .nav_bar li:last-child a{
        width: 200px;
    }

    .nav_bar a span{
        color: #215774;
    }

    .nav_bar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}